@import url('https://fonts.googleapis.com/css?family=Actor|Titan+One|Ubuntu+Mono:400,700');

body{
    font-size:14pt;
    background-color:black;
    color:white;
    background-image:url(../img/2859.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin:0;
}

h1,h2 {
    font-family: "Titan One", cursive;
    text-align: center;
    font-weight: 400;
    margin: 0;
}

h1{
    font-size: 2.5em;
    background-color: white;
    color:black;
}

h1 small{
    font-size:.5em;
    font-family: actor,sans-serif;
    color:gray;
}


h2{
    font-size: 2em;
    text-align: center;
    background-color:rgba(0,0,0,.8);
    padding-bottom: .5em;
    padding-top: .5em;
}


p{
    font-family: sans-serif;
    color:black;
    background-color:rgba(255,255,255,.8);
    padding:1em;
    max-width:700px;
    text-align: justify;
    margin:auto;
}

pre{
    background-color:slategray;
    padding-left:2em;
    padding-bottom:1em;
    max-width: 700px;
    margin:auto;
}

code,samp{
    font-family: "Ubuntu mono",monospace;
}

samp{
    background-color: #404040;
    color:white;
}

code{
    background-color: slategray;
    color:white;
}

pre strong{
    color:yellow;
}

strong{
    color: #2d77ff;
}
abbr{
    font-weight: bold;
    color:#2d77ff;
    border-bottom:1px dotted #2d77ff;
}

em{
    color:gray;
}

img{
    width:100%;
}

kbd{
    background-color:gray;
    background-image:url(../img/key.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:120% 120%;
    color:gray;
    font-family: "Ubuntu mono",monospace;
    font-weight: 700;
    padding:1em;
    border:2px solid white;
}

blockquote{
    background-color: #d9d4bb;
    margin:0;
    color:black;
    font-style: italic;
    padding:1em 50% 1em 5em;
}

nav{
    background-color:white;
    color:black;
}

a,a:visited{
    color: #447577;
    font-weight: bold;
}

a:hover{
    text-decoration: none;
    background-color:#447577;
    color:white;
}
address{
    margin-top:4em;
    background-color: #683d52;
    font-family: Actor,sans-serif;

}

nav{
    margin:0;
}
nav p{
    margin-left:0;
}